.movieList {
  display: flex;
  flex-direction: column;
  padding: 3rem;
}

.movieEditItem {
  padding: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  background-color: var(--background-color);
  border-radius: 1rem;
  margin: 3rem auto;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.4);
}

.movieEdit {
  width: 6rem;
  height: 6rem;
  align-self: stretch;
  text-wrap: wrap;
}

.movieEdit:focus {
  height: 12rem;
  width: 12rem;
}
.movieEditButton {
  width: 7rem;
}
