html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.full-screen-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: url('https://res.cloudinary.com/dvucimldu/image/upload/v1758073827/4dx_interior_img02_wide-c89a3d8756fae045234d9e7bc0a17258b43cdbcb_nr7sls.jpg') 
              no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}

.congrats-card {
  background-color: var(--main-color);
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  color: var(--secondary-color);
  width: 90%;
  max-width: 400px;
}

.congrats-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.congrats-content {
  margin-bottom: 30px;
}

.popcorn-image {
  width: 150px;
  height: auto;
  margin-bottom: 15px;
}

.congrats-message {
  font-size: 1.2rem;
  line-height: 1.5;
}

.login-button-link {
  text-decoration: none;
}

.congrats-button {
  width: 100%;
  padding: 15px;
  border: none;
  background-color: var(--secondary-color);
  color: var(--second-accent-color);
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.congrats-button:hover {
  background-color: var(--accent-color);
}