.summary-container {
  text-align: center;
  padding: 2rem;
}
table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 80%;
}
th,
td {
  border-bottom: 1px solid var(--text-color);
  padding: 0.5rem;
}
button {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  background: var(--secondary-color);
  color: white;
  cursor: pointer;
}
