html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.full-screen-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: url('https://res.cloudinary.com/dvucimldu/image/upload/v1758073827/4dx_interior_img02_wide-c89a3d8756fae045234d9e7bc0a17258b43cdbcb_nr7sls.jpg') 
              no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}
.home-icon-link {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 10;
}

.register-card {
  background-color: rgba(139, 0, 0, 0.65);
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  color: white;
  max-width: 450px; 
  width: 90%;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.title-image {
 width: 70px; 
  height: auto;
}

.register-title {
  font-size: 2.5rem;
  font-weight: bold;
}

.register-input {
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  border: none;
  background-color: rgba(165, 42, 42, 0.85);
  color: white;
  border-radius: 10px;
  box-sizing: border-box;
}

.register-input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.register-button {
  width: 100%;
  padding: 15px;
  border: none;
  background-color: darkred;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.register-button:hover {
  background-color: #A52A2A;
}

.register-footer {
  margin-top: 15px;
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.85);
}

.register-footer a {
  color: #FFD700;
  text-decoration: none;
  font-weight: bold;
}

.register-footer a:hover {
  text-decoration: underline;
}