-- MySQL dump 10.13  Distrib 8.0.43, for Linux (x86_64)
--
-- Host: localhost    Database: cinemadb
-- ------------------------------------------------------
-- Server version	8.0.43

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `billing`
--

DROP TABLE IF EXISTS `billing`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `billing` (
  `uid` bigint NOT NULL AUTO_INCREMENT,
  `email` varchar(255) NOT NULL,
  `first_name` varchar(255) NOT NULL,
  `last_name` varchar(255) NOT NULL,
  `last_four` int NOT NULL,
  PRIMARY KEY (`uid`),
  UNIQUE KEY `UK6r8n3app5vqh2fpjhqk5btipc` (`first_name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `billing`
--

LOCK TABLES `billing` WRITE;
/*!40000 ALTER TABLE `billing` DISABLE KEYS */;
/*!40000 ALTER TABLE `billing` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `booking`
--

DROP TABLE IF EXISTS `booking`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `booking` (
  `booking_no` bigint NOT NULL AUTO_INCREMENT,
  `last_four` int NOT NULL,
  `movie_title` varchar(255) NOT NULL,
  `show_date_time` bigint NOT NULL,
  `tix_no` bigint NOT NULL,
  PRIMARY KEY (`booking_no`),
  UNIQUE KEY `UKfed0nrkaud61lq80pkv3ympuh` (`last_four`),
  UNIQUE KEY `UKmerbktfp5xmqhjop0dbbr2o6d` (`movie_title`),
  UNIQUE KEY `UK5ev5giyfgpe9rvh9itbtcq7xp` (`show_date_time`),
  UNIQUE KEY `UK2pegqbefc8bkfsihjq5l943s7` (`tix_no`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `booking`
--

LOCK TABLES `booking` WRITE;
/*!40000 ALTER TABLE `booking` DISABLE KEYS */;
/*!40000 ALTER TABLE `booking` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `movie`
--

DROP TABLE IF EXISTS `movie`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `movie` (
  `movie_id` bigint NOT NULL AUTO_INCREMENT,
  `title` varchar(255) NOT NULL,
  `category` varchar(255) DEFAULT NULL,
  `director` varchar(255) DEFAULT NULL,
  `producer` varchar(255) DEFAULT NULL,
  `cast` varchar(255) DEFAULT NULL,
  `synopsis` varchar(255) DEFAULT NULL,
  `reviews` varchar(255) DEFAULT NULL,
  `trailer_picture` varchar(255) DEFAULT NULL,
  `trailer_video` varchar(255) DEFAULT NULL,
  `mpaa_rating` varchar(255) DEFAULT NULL,
  `showtime` datetime DEFAULT NULL,
  `poster_url` varchar(255) DEFAULT NULL,
  `genre` varchar(255) DEFAULT NULL,
  `rating` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`movie_id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `movie`
--

LOCK TABLES `movie` WRITE;
/*!40000 ALTER TABLE `movie` DISABLE KEYS */;
REPLACE INTO `movie` VALUES (1,'Demon Slayer: Infinity Castle','Anime / Action','Haruo Sotozaki','Akifumi Fujio, Masanori Miyake, Yma Takahashi','Natsuki Hanae, Akari Kit, Hiro Shimono, Saori Hayami','The Demon Slayer Corps are drawn into the Infinity Castle, where Tanjiro and the Hashira battle powerful Upper Rank demons in a final confrontation against Muzan Kibutsuji.','Visually stunning and emotionally powerful  a thrilling continuation for fans.','https://res.cloudinary.com/dvucimldu/image/upload/v1760291716/Demon-Slayer_-Kimetsu-no-Yaiba-Infinity-Castle-Theatrical-Date-Poster-US-scaled-e1741205421782_db5ys0.jpg','https://www.youtube.com/watch?v=x7uLutVRBfI','R','2025-09-12 19:30:00','https://res.cloudinary.com/dvucimldu/image/upload/v1759469874/onesheet_qz7tj5.jpg',NULL,NULL),(2,'Weapons','Horror/Thriller','Zach Cregger','New Line Cinema','Pedro Pascal, Julia Garner, Josh Brolin','An interrelated horror epic exploring human violence and terror.','Highly anticipated after Barbarian.','https://res.cloudinary.com/dvucimldu/image/upload/v1760292338/images_13_tifwcu.jpg','https://www.youtube.com/watch?v=OpThntO9ixc','R','2025-11-01 21:00:00','https://res.cloudinary.com/dvucimldu/image/upload/v1759469930/MV5BNTBhNWJjZWItYzY3NS00M2NkLThmOWYtYTlmNzBmN2UxZWFjXkEyXkFqcGc._V1_FMjpg_UX1000__fsm2p4.jpg',NULL,NULL),(3,'The Conjuring','Horror','James Wan','New Line Cinema','Vera Farmiga, Patrick Wilson, Ron Livingston','Paranormal investigators Ed and Lorraine Warren work to help a family terrorized by a dark presence.','One of the scariest modern horror movies.','https://res.cloudinary.com/dvucimldu/image/upload/v1760291761/The-Conjuring-Last-Rites-New-Poster-Header-FUTURE-OF-THE-FORCE_yfejd4.webp','https://www.youtube.com/watch?v=bMgfsdYoEEo','R','2025-10-10 20:00:00','https://res.cloudinary.com/dvucimldu/image/upload/v1759469900/new-poster-for-the-conjuring-last-rites-v0-4a68gyttrsif1_x6jhgi.webp',NULL,NULL),(4,'The Strangers','Horror/Thriller','Bryan Bertino','Rogue Pictures','Liv Tyler, Scott Speedman','A couple staying in an isolated vacation home are terrorized by masked intruders.','Praised for suspense and atmosphere.','https://res.cloudinary.com/dvucimldu/image/upload/v1760292416/images_14_qvxkze.jpg','https://www.youtube.com/watch?v=_d55K72DoKg','R','2025-10-05 22:00:00','https://res.cloudinary.com/dvucimldu/image/upload/v1759469953/A1yhOaDDXiL_ozvoqu.jpg',NULL,NULL),(5,'Fantastic Four','Superhero/Action','Matt Shakman','Marvel Studios','Pedro Pascal, Vanessa Kirby, Joseph Quinn, Ebon Moss-Bachrach','Marvels first family of superheroes face cosmic threats together.','Fans are excited to see the team join the MCU.',NULL,'https://www.youtube.com/watch?v=18QQWa5MEcs','PG-13','2025-12-20 18:30:00','https://res.cloudinary.com/dvucimldu/image/upload/v1759469715/fantastic_4_1_sheet_new_cta_dbb14854_lbs4o7.jpg',NULL,NULL);
/*!40000 ALTER TABLE `movie` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `showtimes`
--

DROP TABLE IF EXISTS `showtimes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `showtimes` (
  `showtime_id` bigint NOT NULL AUTO_INCREMENT,
  `movie_id` bigint NOT NULL,
  `show_date` date NOT NULL,
  `show_time` time NOT NULL,
  PRIMARY KEY (`showtime_id`),
  KEY `movie_id` (`movie_id`),
  CONSTRAINT `showtimes_ibfk_1` FOREIGN KEY (`movie_id`) REFERENCES `movie` (`movie_id`)
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `showtimes`
--

LOCK TABLES `showtimes` WRITE;
/*!40000 ALTER TABLE `showtimes` DISABLE KEYS */;
REPLACE INTO `showtimes` VALUES (1,1,'2025-10-14','17:00:00'),(2,1,'2025-10-14','20:00:00'),(3,1,'2025-10-15','18:30:00'),(4,1,'2025-10-16','19:30:00'),(5,2,'2025-10-15','19:00:00'),(6,2,'2025-10-16','21:30:00'),(7,2,'2025-10-17','22:00:00'),(8,3,'2025-10-14','20:00:00'),(9,3,'2025-10-15','20:30:00'),(10,3,'2025-10-17','19:30:00'),(11,4,'2025-10-16','21:00:00'),(12,4,'2025-10-17','22:00:00'),(13,4,'2025-10-18','23:00:00'),(14,5,'2025-10-15','18:00:00'),(15,5,'2025-10-16','18:00:00'),(16,5,'2025-10-18','20:00:00');
/*!40000 ALTER TABLE `showtimes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `password` varchar(255) NOT NULL,
  `username` varchar(255) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKr43af9ap4edm43mmtq01oddj6` (`username`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-10-12 19:20:57
