@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  padding:0;
  margin:0;
  background-color: #0A0A0A;
  color: #E0E0E0;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #0A0A0A;
  color: #E0E0E0;
}