@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  padding:0;
  margin:0;
  background-color: var(--main-color);
  color: var(--secondary-color);
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--main-color);
  color: var(--secondary-color);
}